<nav id="navbar-clone" class="navbar is-fresh is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://cssninja.io">
                <img src="assets/img/logos/fresh-alt.svg" alt="" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="cloned-navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="cloned-navbar-menu" class="navbar-menu is-fixed">


            <div class="navbar-end">
                <a href="#" class="navbar-item is-secondary">
                    Features
                </a>
                <a href="#" class="navbar-item is-secondary">
                    Pricing
                </a>
                <a href="#" class="navbar-item is-secondary modal-trigger" data-modal="auth-modal">
                    Log in
                </a>
                <a class="navbar-item">
                    <span class="button signup-button rounded secondary-btn raised">
                        Sign up
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>